body{
  background:#0b0f14;
  color:white;
  font-family:Arial;
  margin:0;
}
.wrap{
  max-width:500px;
  margin:40px auto;
  text-align:center;
}
input{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:none;
  margin-top:10px;
}
button{
  margin-top:10px;
  padding:10px 16px;
  border-radius:8px;
  border:none;
  cursor:pointer;
  background:#6d4bff;
  color:white;
}
#btnClear{
  background:#222;
}
.card{
  background:#111;
  padding:16px;
  border-radius:12px;
  display:flex;
  gap:12px;
  margin-top:15px;
}
.thumb{
  width:90px;
  height:90px;
  object-fit:cover;
  border-radius:8px;
}
.btns a{
  display:inline-block;
  padding:6px 10px;
  background:#6d4bff;
  color:white;
  text-decoration:none;
  border-radius:6px;
  margin-right:6px;
}
